{% load compress static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Mevies | Movies for Me</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% compress css %}
		<link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
		<link href="{%  static  'css/flat-ui.css'%}" rel="stylesheet">
		<link href="{%  static  'css/style.css'%}" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	<link rel="shortcut icon" href="{% static 'images/favicon.ico'%}">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	<!--[if lt IE 9]>
	  <script src="{% static 'js/html5shiv.js' %}"></script>
	  <script src="{% static 'js/respond.min.js' %}"></script>
	<![endif]-->
</head>
<body ng-app="mevies" ng-controller="MeviesCtrl">
	<header class="palette-turquoise">
		<div class="container">
			<div class="row">
				<div class="logo-wrapper">
					<h1><span class="highlight">Me</span>vies</h1>
					<p>Movies for Me</p>
					<a href="/"></a>
				</div>
			</div>
		</div>
	</header>

        {% block content %}

        {% endblock %}

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-7">
					<h3 class="footer-title">About us</h3>
					<p> ChoJux = Marko Čorokalo (Cho) & Filip Jukić (Jux) <br><br>
						Marko Čorokalo
						<a href="http://www.linkedin.com/in/markocorokalo"><i class="fa fa-linkedin"></i></a>
						<a href="https://github.com/Chochek"><i class="fa fa-github"></i></a>
						<a href="https://twitter.com/Chochek"><i class="fa fa-twitter"></i><br></a>
						Filip Jukić
						<a href="http://www.linkedin.com//in/filipjukic"><i class="fa fa-linkedin"></i></a>
						<a href="https://github.com/bezidejni"><i class="fa fa-github"></i></a>
						<a href="https://twitter.com/bezidejni"><i class="fa fa-twitter"></i></a>
					</p>
				</div> <!-- /col-md-7 -->

				<div class="col-sm-5">
					<div class="footer-banner">
						<h3 class="footer-title">Mevies | Movies for ME</h3>
					</div>
				</div>
			</div>
		</div>
	</footer>

	{% compress js %}
		<script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
		<script src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
		<script src="{% static 'js/jquery.ui.touch-punch.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/bootstrap-select.js' %}"></script>
		<script src="{% static 'js/bootstrap-switch.js' %}"></script>
		<script src="{% static 'js/flatui-checkbox.js' %}"></script>
		<script src="{% static 'js/flatui-radio.js' %}"></script>
		<script src="{% static 'js/jquery.tagsinput.js' %}"></script>
		<script src="{% static 'js/jquery.placeholder.js' %}"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-sanitize.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-cookies.js"></script>
		<script src="{% static 'js/angular-ui-0.10.0.min.js' %}"></script>
		<script src="{% static 'js/app.js' %}"></script>
		<script>
			$(function() {
				// activate tooltips
				$('.btn-toolbar a').tooltip();
			});

			// get the cookie and remember to buy milk :)
			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i]);
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) == (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}
			console.log(getCookie('recommendationsOpen'));
			// get the CSRF token cookie
			window.csrftoken = getCookie('csrftoken');
		</script>
	{% endcompress %}
</body>
</html>