{% extends "base.html" %}

{% block content %}
    {% verbatim %}
    <div class="palette-clouds recommendations" ng-class="{visible: recommendedMovies.length > 0 && recommendationsOpen, closed: recommendedMovies.length > 0 && !recommendationsOpen}">
        <div class="container" ng-class="{'hide-this': !recommendationsOpen || recommendedMovies.length == 0}">
            <h4>Recommended for you</h4>
            <div class="row">
                <carousel interval="myInterval">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <div class="col-sm-3 col-md-2 movie" ng-repeat="movie in slide">
                            <div class="movie-poster">
                                <a href="/movie/{{movie.id}}-{{movie.slug}}"><img ng-src="{{movie.poster || '/static/images/default_poster.png'}}" alt="{{ movie.title }} poster" class="img-thumbnail img-responsive" /></a>
                            </div>
                            <h4 class="movie-title"><a href="/movie/{{movie.id}}-{{movie.slug}}">{{movie.title}} [{{movie.year}}]</a></h4>
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>
        <div class="close-recommendations">
            <span class="glyphicon" ng-class="{'glyphicon-chevron-up': recommendationsOpen, 'glyphicon-chevron-down': !recommendationsOpen}" ng-click="toggleRecommendations()"></span>
        </div>
    </div>

    <div class="container">
		<h3 ng-hide="!movieLoaded" ng-cloak>{{movie.title}} [{{movie.year}}]</h3>
		<div class="row text-center loading-spinner" ng-if="!movieLoaded" ng-cloak>
		    <img src="/static/images/spinner.gif" width="50"/>
		</div>
		<div class="row" ng-if="movieLoaded" ng-cloak>
			<div class="col-sm-4 col-md-3">
				<img ng-src="{{movie.poster || '/static/images/default_poster.png'}}" alt="{{ movie.title }} poster" class="img-thumbnail">
			</div>
			<div class="col-sm-8 col-md-9 movie-details">
				<dl class="dl-horizontal">
					<dt>Genre</dt>
					<dd>{{ movie.genre }}</dd>
					<dt>Runtime</dt>
					<dd>{{ movie.runtime }} min</dd>
					<dt>IMDb rating</dt>
					<dd>{{ movie.imdb_rating }}</dd>
					<dt>Year</dt>
					<dd>{{ movie.year }}</dd>
					<dt>Director</dt>
					<dd>{{ movie.director }}</dd>
					<dt>Writers</dt>
					<dd>{{ movie.writers }}</dd>
					<dt>Actors</dt>
					<dd>{{ movie.actors }}</dd>
					<dt>Plot</dt>
					<dd>{{ movie.plot }}</dd>
				</dl>
				<div class="video-js vjs-using-native-controls vjs-controls-enabled vjs-paused vjs-user-inactive" id="vjs_video">
					<p ng-bind-html="movieTrailer"></p>
				</div>
			</div>
		</div>
	</div>
    {% endverbatim %}
{% endblock %}