{% extends "base.html" %}

{% block content %}
    {% verbatim %}
    <div class="row display" ng-cloak>
        <div class="col-sm-6">
            <div class="tagsinput" ng-if="tagFilters.length > 0">
                <h6>Tags:</h6>
                <div class="tag" ng-repeat="tag in tagFilters" ng-click="removeTagFilter($index)">
                    <span>{{tag}}</span>
                    <a class="tagsinput-remove-link"></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="pull-right">
                <div class="form-group pull-left">
                    <input class="form-control" type="text" placeholder="Search movies" value="" ng-model="searchMovies" ng-change="search()">
                    <span class="fui-cross clear-search" ng-if="searchMovies"></span>
                </div>
                <div class="btn-toolbar pull-left">
                    <div class="btn-group">
                        <a href="#fakelink" data-placement="top" data-toggle="tooltip" data-original-title="Grid view" class="btn btn-primary" ng-class="{ active: !listView }" ng-click="listView = false"><span class="glyphicon glyphicon-th"></span></a>
                        <a href="#fakelink" data-placement="top" data-toggle="tooltip" data-original-title="List view" class="btn btn-primary" ng-class="{ active: listView }" ng-click="listView = true"><span class="fui-list"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row movies" ng-cloak>
        <div class="col-sm-3 col-md-2 movie" ng-repeat="movie in currentPageView | tagsFilter:tagFilters ">
            <div class="movie-poster">
                <img ng-src="{{movie.poster || '/static/images/default_poster.png'}}" class="img-responsive" />
            </div>
            <h4 class="movie-title">{{movie.title}} ({{movie.year}})</h4>
            <div class="tags" ng-if="movie.tags.length != 0">
                <div class="tag" ng-repeat="tag in movie.tags" ng-click="addTagFilter(tag)">{{tag.toLowerCase()}}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="pull-left legend">
            Showing {{ (24 * (currentPage - 1)) + 1; }} to {{ (24 * (currentPage - 1)) + pages[currentPage - 1].length }} of {{ movies.count }} movies
            <span ng-show="searchMovies">(filtered from {{ totalNumOfMovies }} total movies)</span>
        </div>
        <pagination class="pull-right clear-margin" total-items="totalNumOfMovies" items-per-page="24" on-select-page="pageChanged(page)" max-size="5" page="currentPage"></pagination>
    </div>
    {% endverbatim %}
{% endblock %}
