{% extends "base.html" %}

{% block content %}
    {% verbatim %}
    <div class="row display" ng-cloak>
        <div class="col-sm-6">
            <div class="tagsinput" ng-if="tagFilters.length > 0">
                <h6>Tags:</h6>
                <div class="tag" ng-repeat="tag in tagFilters" ng-click="removeTagFilter($index)">
                    <span>{{tag}}</span>
                    <a class="tagsinput-remove-link"></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="pull-right">
                <div class="form-group pull-left">
                    <input class="form-control" type="text" placeholder="Search movies" value="" ng-model="searchMovies" ng-change="search()">
                    <span class="fui-cross clear-search" ng-if="searchMovies" ng-click="clearSearch()"></span>
                </div>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Order by<span class="caret"></span></button>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu">
                        <li ng-class="{selected: predicate == 'title'}"><a href="#fakelink" ng-click="predicate = 'title'; sort();">Title</a></li>
                        <li ng-class="{selected: predicate == 'year'}"><a href="#fakelink" ng-click="predicate = 'year'; sort();">Year</a></li>
                        <li ng-class="{selected: predicate == 'rating'}"><a href="#fakelink" ng-click="predicate = 'rating'; sort();">Rating</a></li>
                    </ul>
                </div>
                <div class="btn-toolbar pull-left">
                    <div class="btn-group">
                        <a href="#fakelink" data-container='body' data-placement="top" data-toggle="tooltip" data-original-title="Order descending" class="btn btn-primary" ng-class="{ active: reverse }" ng-click="reverse = true; sort();"><span class="glyphicon glyphicon-arrow-down"></span></a>
                        <a href="#fakelink" data-container='body' data-placement="top" data-toggle="tooltip" data-original-title="Order ascending" class="btn btn-primary" ng-class="{ active: !reverse }" ng-click="reverse = false; sort();"><span class="glyphicon glyphicon-arrow-up"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row movies" ng-show="pages.length > 0" ng-cloak>
        <div class="col-sm-3 col-md-2 movie" ng-repeat="movie in currentPageView | tagsFilter:tagFilters ">
            <div class="movie-poster">
                <img ng-src="{{movie.poster || '/static/images/default_poster.png'}}" class="img-responsive" />
            </div>
            <h4 class="movie-title">{{movie.title}} ({{movie.year}})</h4>
            <div class="tags" ng-if="movie.tags.length != 0">
                <div class="tag" ng-repeat="tag in movie.tags" ng-click="addTagFilter(tag)">{{tag.toLowerCase()}}</div>
            </div>
        </div>
    </div>
    <div class="row text-center" ng-show="!pages[currentPage - 1] && gettingMovies" ng-cloak>
        <img src="/static/images/spinner.gif" width="50"/>
    </div>
    <div class="row text-center" ng-show="!pages.length && !gettingMovies" ng-cloak>
        No matching movies found.
    </div>

    <div class="row" ng-cloak>
        <div class="pull-left legend">
            Showing {{ (24 * (currentPage - 1)) + 1; }} to {{ (24 * (currentPage - 1)) + pages[currentPage - 1].length }} of {{ movies.count }} movies
            <span ng-show="searchMovies && !gettingMovies">(filtered from {{ totalNumOfMovies }} total movies)</span>
        </div>
        <pagination class="pull-right clear-margin" total-items="movies.count" items-per-page="24" max-size="5" page="currentPage"></pagination>
    </div>
    {% endverbatim %}
{% endblock %}
