[ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }

header {
  color: #ffffff;
}

header .highlight {
  color: #34495E;
}

header p {
  margin: -30px 0 20px 2px;
}

header .logo-wrapper {
  display: inline-block;
  position: relative;
}

header .logo-wrapper a {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.palette-clouds h4 {
    color: #34495E;
}
.recommendations {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.recommendations.visible {
  padding-bottom: 20px;
  max-height: 420px;
}
.recommendations .movie {
  width: 20%;
}

.display {
  margin-top: 15px;
  height: 45px;
}

.display .col-md-4 {
  padding-right: 0px;
}

.display .col-md-8 {
  padding-left: 0px;
}

.display .tagsinput {
    border: none;
  height: 41px;
}

.display .tagsinput h6 {
    float: left;
    font-size: 18px;
    margin: 3px 10px 0 0;
}

.display .tagsinput .tag {
  padding: 6px 19px 8px;
}

.display .tagsinput .tag:hover {
  padding-right: 26px;
  padding-left: 12px;
}

.display .search {
  padding-right: 106px;
}

.display .search .dropdown-search button {
  width: 110px;
  height: 42px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 4px 4px 0;
}

.display .search .dropdown-search .dropdown-menu {
    left: auto;
    right: 0;
}

.dropdown-menu {
    border-radius: 6px !important;
}

.display .form-control {
  padding-right: 30px;
}

.display .clear-search {
    color: #E74C3C;
    font-size: 15px;
    position: absolute;
    right: 118px;
    top: 7px;
    cursor: pointer;
}

.display .dropdown {
    float: left;
    margin-left: 15px;
}

.display .dropdown button {
  width: 164px;
}

.display .btn-toolbar {
  margin-left: 15px;
}

.display .btn-toolbar .glyphicon {
  font-size: 16px;
  margin: -2px 1px 2px;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

h4.movie-title {
  font-size: 16px;
  margin: 10px 0 5px;
  text-align: center;
}

h4.movie-title a {
  color: #34495E;
}

.movies {
  margin-top: 20px;
}

.movies .overlay {
  background: #ECF0F1;
  height: 100%;
  left: 0;
  margin-top: -9px;
  position: absolute;
  width: 100%;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.movies .overlay.visible {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7;
  z-index: 1;
}

.movies .movie {
    height: 330px;
    margin-bottom: 40px;
    position: relative;
}

.movies .movie .movie-poster {
  width: 100%;
  overflow: hidden;
}

.movies .movie .movie-poster img {
  margin: 0 auto;
}

.movies .movie .tags {
  position: absolute;
  bottom: 0;
  line-height: 24px;
}

.movies .movie .tags .tag {
  background-color: #1ABC9C;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  line-height: 13px;
  margin-bottom: 0px;
  margin-right: 2px;
  overflow: hidden;
  padding: 4px 5px 6px;
  position: relative;
  vertical-align: middle;
}

.legend {
    height: 40px;
    line-height: 40px;
    margin: 20px 0;
}
.pagination a {
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #1ABC9C;
  border-color: #1ABC9C;
}

.movie-details {
  padding-bottom: 80px;
}

.video-js {
    height: 0;
    padding-bottom: 56.25%;
    width: 100%;
    position: relative;
    margin-top: 30px;
}

.video-js iframe {
    border: 8px solid #1ABC9C;
    border-radius: 6px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.dl-horizontal dt {
    width: 100px;
}
.dl-horizontal dd {
    margin-left: 120px;
}

.loading-spinner {
    height: 50px;
    margin: 100px 0;
}


/* RESPONSIVE STUFF */
@media (max-width: 767px) {
  .display {
    height: 145px;
  }
  .display .col-xs-12 {
    padding: 0 15px;
  }
  .display .form-group {
    width: 100%;
  }
  .display .search {
    margin-bottom: 15px;
    padding-right: 96px;
  }
  .display .clear-search {
    right: 108px;
  }
  .display .search .dropdown-search .dropdown-arrow {
    margin-top: 2px;
  }
  .display .search .dropdown-search .dropdown-menu {
    top: 33px;
  }
  .ordering {
    width: 100%;
  }
  .display .tagsinput {
    margin-top: 8px;
  }
  .display .search .dropdown-search button {
    border-radius: 0 4px 4px 0;
    height: 42px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
  }
  .movies .movie {
    height: auto;
    padding-bottom: 0;
  }
  .movies .movie .movie-poster {
    text-align: center;
  }
  .movies .movie .tags {
      margin-top: 15px;
      position: relative;
      text-align: center;
      width: 100%;
  }
  .pagination {
    float: none !important;
    left: 50%;
    margin: 0 0 0 -154px;
    position: relative;
  }
  .pagination > li > a, .pagination > li > span {
    padding: 5px 10px;
  }
  .legend {
    text-align: center;
    height: auto;
    line-height: 23px;
    margin: 20px 0;
  }
  .footer-banner {
    padding: 0 12px 30px;
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .display {
      height: 101px;
  }
  .movies .movie {
      height: 320px;
  }
  .movies .movie .movie-poster {
    height: 224px;
  }
  .legend {
    height: auto;
    line-height: 23px;
    margin: 20px 0;
  }
  .footer-banner {
    padding: 0 12px 30px;
    margin-left: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .movies .movie {
      height: 300px;
  }
  .movies .movie .movie-poster {
    height: 187px;
  }
}

@media (min-width: 1200px) {
  .movies .movie .movie-poster {
    height: 234px;
  }
}